html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/Noto_Sans/NotoSans-Black.ttf');
    font-weight: 900;
}
